#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0652DD;
}

#login-form {
  display: flex;
  flex-direction: column;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.spacing-bottom {
  margin-bottom: 1rem;
}

.imagePreview > img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
}