<div *ngIf="group">
  <div class="modal-header" *ngIf="groupId >= 1 && userId">
    <h2 class="modal-title" id="modal-basic-title">Groep aanpassen</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="group">
    <div class="jumbotron">
      <h1 class="display-4" *ngIf="groupId < 0">Groep aanmaken</h1>
      <form id="groupCreate-form" [formGroup]="groupCreateForm" (ngSubmit)="onSubmit(groupCreateForm.value)" enctype="multipart/form-data">
        <div class="custom-control custom-switch my-4">
          <input type="checkbox" class="custom-control-input" id="groupPrivacy" [(ngModel)]="group.groupPrivacy" formControlName="groupPrivacy">
          <label class="custom-control-label" for="groupPrivacy">Groep privacy: open (iedereen kan zich aansluiten bij de groep)</label>
        </div>
        <div class="input-box spacing-bottom">
          <label for="groupName">Naam</label>
          <input class="form-control" [(ngModel)]="group.groupName" id="groupName" name="groupName" type="text" value="test" formControlName="groupName" />
          <div *ngIf="titleAlert" class="alert alert-danger">
            Titel is verplicht.
          </div>
        </div>
        <div class="input-box spacing-bottom">
          <label for="groupDescription">Beschrijving</label>
          <textarea class="form-control" [(ngModel)]="group.description" id="groupDescription" name="groupDescription" type="textarea" formControlName="groupDescription">
          </textarea>
          <div *ngIf="descriptionAlert" class="alert alert-danger">
            Omschrijving is verplicht.
          </div>
        </div>
        <div class="custom-file">
          <p>Afbeelding</p>
          <div class="container row">
              <div class="custom-file">
                  <input type="file" (change)="onFileChanged($event)" class="custom-file-input" id="customFileLangHTML" required>
                  <label class="custom-file-label" for="customFileLangHTML" data-browse="Bestand kiezen">Voeg een afbeelding toe</label>
                  <div *ngIf="imageAlert" class="alert alert-danger">
                    Afbeelding is verplicht
                  </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" *ngIf="groupId < 0">Groep aanmaken</button>
          <button class="btn btn-primary" type="submit" *ngIf="groupId >= 1 && userId">Groep aanpassen</button>
          <button type="button" class="btn btn-link mt-2"><a href="/group-list">Terug naar overzicht Groepen</a></button>
          <!-- Image Preview -->
          <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
            <img [src]="imageURL" class="preview" [alt]="">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
