body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login-form-card {
  box-shadow: 0 3px 8px #000000;
  padding: 2rem;
  width: 25%;
}

@media only screen and (max-width: 1100px) {
  #login-form-card {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  #login-form-card {
    width: 100%;
  }
}

#login-form {
  display: flex;
  flex-direction: column;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.spacing-bottom {
  margin-bottom: 1rem;
}
