<div id="login">
  <div id="login-form-card">
  <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="input-box spacing-bottom">
      <label for="email">Email</label>
      <input id="email" name="email" type="email" formControlName="email" />
    </div>
    <div class="input-box spacing-bottom">
      <label for="password">Password</label>
      <input id="password" name="password" type="password" formControlName="password" />
    </div>
    <button type="submit">Login</button>
  </form>
</div>
</div>
