<div id="recipe">
  <div class="jumbotron">
    <h1 class="display-4">Voeg een recept toe</h1>
    <p class="lead">Creer hier uw recept om te delen met anderen.</p>
    <hr class="my-4">
    <form id="login-form" [formGroup]="recipeForm" (ngSubmit)="onSubmit(recipeForm.value)">
      <div class="input-box spacing-bottom">
        <label for="recipe">Recept</label>
        <input class="form-control" id="recipe" name="recipe" type="text" formControlName="recipe" />
      </div>
      <div class="input-box spacing-bottom">
        <label for="description">Omschrijving</label>
        <input class="form-control" id="description" name="description" type="text" formControlName="description" />
      </div>
      <button class="btn btn-primary" type="submit">Opslaan</button>
      <button type="button" class="btn btn-link mt-2"><a href="/recipe/list">Recepten</a></button>
    </form>
  </div>
</div>

<div class="container row">
      <div class="col-md-12">
          <h1>Upload Image</h1>
      </div>
  </div>
  <div class="container row">
      <div class="col-md-6">
          <input type="file" (change)="onFileChanged($event)">
      </div>
      <div class="col-md-6">
          <input type="button" (click)="onUpload()" value="upload">
      </div>
  </div>
  <hr />
  <div class="container row">
      <div class="col-md-12">
          <div *ngIf=message>{{message}}</div>
      </div>
  </div>
  <div class="container row">
      <div class="col-md-6">
          <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
              name="name" />
      </div>
      <div class="col-md-6">
          <input type="button" (click)="getImage()" value="Get Image">
      </div>
  </div>
  <div class="container row">
      <div class="col-md-12">
          <div *ngIf=retrievedImage>
              <img [src]="retrievedImage">
          </div>
      </div>
  </div>