<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Recept toevoegen</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="login-form" [formGroup]="recipeForm" (ngSubmit)="onSubmit(recipeForm.value)">
      <div class="modal-body">
        <div class="input-box spacing-bottom">
          <label for="title">Titel</label>
          <input class="form-control" id="title" name="title" type="text" formControlName="title"
            value="{{ recipe.title }}" required />
        </div>
        <div class="input-box spacing-bottom mt-4">
          <label for="description">Omschrijving</label>
          <input class="form-control" id="description" name="description" type="text" formControlName="description"
            value="{{recipe.description}}" required />
        </div>
        <div class="input-box spacing-bottom mt-4 mb-4">
          <label for="recipe">Recept</label>
          <textarea class="form-control" aria-label="With textarea" id="recipe" name="recipe" type="text"
            formControlName="recipe" value="{{recipe.recipe}}" required>
          </textarea>
        </div>
        <div class="custom-file">
          <p>Afbeelding</p>
          <div class="container row">
            <div class="custom-file">
              <input type="file" (change)="onFileChanged($event)" class="custom-file-input" id="customFileLangHTML"
                required>
              <label class="custom-file-label" for="customFileLangHTML" data-browse="Bestand kiezen">Voeg een
                afbeelding toe</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>