<div>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Recept toevoegen</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form id="login-form" [formGroup]="recipeForm" (ngSubmit)="onSubmit(recipeForm.value)" enctype="multipart/form-data">
    <div class="modal-body">
      <div class="modal-body">
        <div class="input-box spacing-bottom">
          <label for="title">Titel</label>
          <input class="form-control" id="title" name="title" type="text" formControlName="title">
          <div *ngIf="titleAlert" class="alert alert-danger">
            Titel verplicht.
          </div>
        </div>
        <div class="input-box spacing-bottom mt-4">
          <label for="description">Omschrijving</label>
          <input class="form-control" id="description" name="description" type="text" formControlName="description" />
          <div *ngIf="descriptionAlert" class="alert alert-danger">
            Omschrijving verplicht.
          </div>
        </div>
        <div class="input-box spacing-bottom mt-4 mb-4">
          <label for="recipe">Recept</label>
          <textarea class="form-control" aria-label="With textarea" id="recipe" name="recipe" type="text"
            formControlName="recipe">
          </textarea>
          <div *ngIf="recipeAlert" class="alert alert-danger">
            Recept verplicht.
          </div>
        </div>
        <div class="custom-file">
          <p>Afbeelding</p>
          <div class="container row">
            <div class="custom-file">
              <input type="file" (change)="onFileChanged($event)" class="custom-file-input" id="customFileLangHTML" required>
              <label class="custom-file-label" for="customFileLangHTML" data-browse="Bestand kiezen">Voeg een
                afbeelding toe</label>
              <div *ngIf="imageAlert" class="alert alert-danger">
                Afbeelding verplicht
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Save</button>
      <button type="button" class="btn btn-link mt-2"><a href="/recipe/list">Toon Recepten</a></button>
      <!-- Image Preview -->
      <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
        <img [src]="imageURL" [alt]="">
      </div>
    </div>
  </form>
</div>
