
<div class="container">
  <div class="row">
    <div class="col">
      <div class="list-group container-md p-0">
        <div *ngIf="profile" class="jumbotron">
          <img class="image" mat-card-image [src]="profile.image?.picByte" alt="" />
          <div id="profile-name"> <h1>{{ profile.profileName }}</h1> </div>
          <div>
            <button *ngIf="!editing" type="button" class="btn btn-primary" (click)="enableEditing()">Profiel aanpassen</button>
          </div>

          <app-update-profile *ngIf="editing"></app-update-profile>
        </div>
      </div>

      <div class="list-group container-md p-0">
       <app-recipe-list></app-recipe-list>
      </div>

    </div>
    <div class="col">
      <app-feed-profile></app-feed-profile>
      <!--  ToDo; this doenst work    -->
      <app-group-enrollment></app-group-enrollment>
    </div>
  </div>
</div>
