<body>
<div *ngIf="profile" class="jumbotron col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-centercol-lg-6">
  <img class="image" mat-card-image [src]="profile.image?.picByte" alt="" />
  <div id="profile-name"> <h1>{{ profile.profileName }}</h1> </div>
  <div>
    <button *ngIf="!editing" type="button" class="btn btn-primary" (click)="enableEditing()">Profiel aanpassen</button>
  </div>
</div>

  <app-update-profile *ngIf="editing"></app-update-profile>
<p>Hello my name is Jeff.</p>
  <app-recipe-list></app-recipe-list>

</body>
