<div class="feed">
    <div class="card text-black-50 mb-1">
        <div class="card-body">
            <h5 class="card-title">Feed van de groep</h5>
            <button class="btn btn-light" (click)="recheckFeed()">Herlaad Feed</button>
        </div>
    </div>
    <div *ngFor="let entry of feed">
        <div class="card mb-1">
            <div class="card-body">
                <h5 class="card-title">{{entry.createdAt | date: "dd MMM yyyy - HH:mm" }}</h5>
                <p class="card-text">{{ entry.message}}</p>
            </div>
            <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
</div>
