<!-- cookclub -->
<div class="cookclub">
    <h1>Kook club</h1>
</div>

<!-- nav -->
<ul class="topnav">
    <li><a class="active" href="" *ngIf="loggedIn">Home</a></li>
    <li class="right"><a href="/login" *ngIf="!loggedIn" >Inloggen</a></li>
    <li class="right"><a href="/register" *ngIf="!loggedIn" >Registeren</a></li>
    <li class="right"><a href="#" (click)="logout()" *ngIf="loggedIn" >uitloggen</a></li>
    <li class="right" *ngIf="loggedIn"><a href="/group-list">Groepen</a></li>
    <li class="right" *ngIf="loggedIn"><a href="/me">Profiel</a></li>
</ul>

<router-outlet></router-outlet>
