<div class="container">
  <div class="row">
    <div class="col">
      <div class="list-group container-md p-0">
        <div class="jumbotron" *ngIf="group && userId">
          <img class="image" mat-card-image [src]="group.image?.picByte" alt="" />
          <h1 class="display-4">{{ group.groupName }}</h1>
          <span class="badge badge-info mb-4" *ngIf="group.userId === userId">Eigenaar</span>
          <span class="badge badge-info mb-4" *ngIf="group.profiles?.includes(userId)">Lid</span>
          <p class="lead">{{ group.description }}</p>
          <hr class="my-4" />
          <div *ngIf="group.userId === userId">
            <button type="button" class="btn btn-info mr-4" (click)="generateGroupInvite()">Uitnodigingslink
              genereren</button>
            <button type="button" class="btn btn-danger mr-4" (click)="deleteGroup()">Groep verwijderen</button>
            <button type="button" class="btn btn-primary" (click)="editGroup(group.id)">Groep aanpassen</button>
          </div>
          <div *ngIf="alert" class="mt-4">
            <ngb-alert [type]="alert.type" (closed)="close()">{{ alert.message }}</ngb-alert>
          </div>
        </div>
        <button type="button" class="btn btn-link mt-2"><a href="/group-list">Terug naar overzicht Groepen</a></button>
      </div>
    </div>
    <div class="col">
      <app-feed></app-feed>
    </div>
  </div>
</div>
