<mat-toolbar color="primary"> Recepten </mat-toolbar>
<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="33%" *ngFor="let recipe of recipes">
      <mat-card class="mat-elevation-z4" clickable (click)="updateRecipe(recipe.id)">
        <mat-card-header>
          <mat-card-title>{{ recipe.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="recipe.recipeImage?.picByte"/>
        <mat-card-content>
          <p>{{ recipe.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="updateRecipe(recipe.id)">Update</button>
          <button mat-button (click)="deleteRecipe(recipe.id)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>