  
<div class="list-group">
  <div class="my-4">
    <h1><b>Groepen</b></h1>
    <a class="btn btn-primary btn-lg btn-block" href="/group/create" role="button">Aanmaken Groep</a>
  </div>

  <mat-card class="mat-elevation-z2 mb-4" *ngFor="let group of groups; let i = index">
    <mat-card-header>
      <mat-card-title class="title">{{ group.groupName }}</mat-card-title>
      <div>
        <span class="badge badge-info mb-4 mr-2" *ngIf="group.groupPrivacy === 'OPEN'">Open</span>
        <span class="badge badge-info mb-4 mr-2" *ngIf="group.groupPrivacy === 'INVITE'">Op uitnodiging</span>
        <span class="badge badge-info mb-4 mr-2" *ngIf="group.groupPrivacy === 'PRIVATE'">Gesloten</span>
        <span class="badge badge-info mb-4 mr-2" *ngIf="group.profiles?.includes(userId)">Lid</span>
      </div>
    </mat-card-header>
    <mat-card-content class="content">
      <p>{{ group.description }}</p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-button color="primary" (click)="groupDetail(group.id)">Bekijk groep</button>
      <button mat-button type="button" *ngIf="!group.profiles?.includes(userId)" [hidden]="isEnrolled[i]" color="primary"
        (click)="enrollInGroup(group.id); isEnrolled[i] = !isEnrolled[i]">Inschrijven</button>
    </mat-card-actions>
  </mat-card>
</div>

