<!DOCTYPE html>
<html>
<title>Kook CLub</title>

<body>

    <div class="recipe-view col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-centercol-lg-6">
        <!-- Header with image -->
        <header>
            <div>
                <img class="image" card-img-top [src]="recipe.image?.picByte" alt="" />
                <div class="px-4">
                    <span class="badge badge-info mt-4" *ngIf="recipe.userId == userId">Auteur</span>

                    <div>
                        <button type="button" class="btn btn-info mt-4" (click)="generateShareLink()"
                            *ngIf="recipe.userId == userId">Bekijklink genereren</button>
                    </div>
                    <div *ngIf="alert" class="mt-4">
                        <ngb-alert [type]="alert.type" (closed)="close()">{{ alert.message }}</ngb-alert>
                    </div>
                    <div class="title mt-4">
                        <h1>{{ recipe.title }}</h1>
                    </div>
                </div>
            </div>
        </header>

        <!-- Add a background color and large text to the whole page -->
        <div class="w3-sand w3-grayscale w3-large px-4 pb-4">

            <!-- About Container -->
            <div>
                <div class="description">
                    <p>{{ recipe.description }}</p>
                </div>
                <div class="recipe">
                    <p> {{ recipe.recipe }} </p>
                </div>
            </div>

        </div>
    </div>
</body>

</html>
