<div class="container">
  <div class="row">
    <div class="col">
      <div class="list-group container-md p-0">
        <div class="jumbotron" *ngIf="group && userId">
          <img class="image" mat-card-image [src]="group.image?.picByte" alt="" />
          <h1 class="display-4">{{ group.groupName }}</h1>
          <span class="badge badge-primary mb-4 mr-2" *ngIf="group.userId === userId">Eigenaar</span>
          <span class="badge badge-primary mb-4 mr-2" *ngIf="group.profiles?.includes(userId)">Lid</span>
          <span class="badge badge-dark mb-4 mr-2" *ngIf="group.groupPrivacy === 'OPEN'">PRIVACY: Open</span>
          <span class="badge badge-dark mb-4 mr-2" *ngIf="group.groupPrivacy === 'INVITE'">PRIVACY: Op
            uitnodiging</span>
          <span class="badge badge-dark mb-4 mr-2" *ngIf="group.groupPrivacy === 'PRIVATE'">PRIVACY: Gesloten</span>
          <p class="lead">{{ group.description }}</p>
          <hr class="my-4" />
          <div *ngIf="group.userId === userId">
            <button type="button" class="btn btn-info mr-4 mb-2" *ngIf="group.groupPrivacy === 'INVITE'" (click)="generateGroupInvite()">Uitnodigingslink genereren</button>
            <button type="button" class="btn btn-info mr-4 mb-2" *ngIf="group.groupPrivacy === 'PRIVATE'" (click)="handleGroupInviteViaFeed()">Uitnodigingslink</button>
            <button type="button" class="btn btn-danger mr-4 mb-2" (click)="deleteGroup()">Groep verwijderen</button>
            <button type="button" class="btn btn-primary mb-2" (click)="editGroup(group.id)">Groep aanpassen</button>
          </div>
          <div *ngIf="alert" class="mt-4">
            <ngb-alert [type]="alert.type" (closed)="close()">{{ alert.message }}</ngb-alert>
          </div>

        </div>
        <button type="button" class="btn btn-link mt-2"><a href="/group-list">Terug naar overzicht Groepen</a></button>
      </div>
      <app-recipe-list-group></app-recipe-list-group>
    </div>
    <div class="col">
      <app-feed></app-feed>
    </div>
  </div>
  </div>
