/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

<!-- header -->

.cookclub {
  border: 1px solid gray;
  padding: 8px;
}

.cookclub > h1 {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

<!-- nav -->
body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-top: 1px solid #000;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: lightgrey;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}
