<div id="update-profile">
    <div class="jumbotron col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-centercol-lg-6">
        <h5 class="">Bewerk je profiel!</h5>
        <hr class="my-4">
        <form id="update-profile-form" [formGroup]="updateProfileForm" (ngSubmit)="onSubmit(updateProfileForm.value)">
            <div class="input-box spacing-bottom col-lg-4 ">
                <label for="profileName">Profielnaam</label>
                <input class="form-control" id="profileName" name="profileName" type="profileName" formControlName="profileName">
            </div>
            <div class="custom-file">
                <div class="container row">
                    <div class="custom-file">
                        <input type="file" (change)="onFileChanged($event)" class="custom-file-input" id="customFileLangHTML" required>
                        <label class="custom-file-label" for="customFileLangHTML" data-browse="Bestand kiezen">Voeg een afbeelding toe</label>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary spacing-bottom ml-1 mt-4" type="submit">Update</button>
            <!-- Image Preview -->
            <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                <img [src]="imageURL" [alt]="">
            </div>
        </form>
    </div>
</div>
