<div id="register">
    <div id="register-form-card">
    <form id="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
      <div class="input-box spacing-bottom">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" formControlName="email" />
      </div>
      <div class="input-box spacing-bottom">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" formControlName="password" />
      </div>
      <div class="input-box spacing-bottom">
        <label for="profileName">Profile name</label>
        <input id="profileName" name="profileName" type="text" formControlName="profileName" />
      </div>
      <div class="input-box spacing-bottom">
        <label for="profilePicture">Profile picture url</label>
        <input id="profilePicture" alt="profilePicture" name="profilePicture" type="text" formControlName="profilePicture" />
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
</div>
